* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "MyCustomFont", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: "MyCustomFont";
  src: url("C:\Users\rayan\AppData\Local\Microsoft\Windows\Fonts")
    format("truetype");
}
