* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

html,
body {
  height: 100%;
  width: 100%;
}

main {
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1453090927415-5f45085b65c0?q=80&w=2048&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-position: calc(50% - 0.5px) calc(40% - 0.5px);
  background-size: cover;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 15%;
}

nav h1 {
  color: rgb(229, 235, 203);
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 70px;
}

nav h4 {
  color: rgb(229, 235, 203);
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}

section {
  height: 85%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#left {
  width: 45%;
  height: 55%;
  background-color: rgba(55, 46, 54, 0.582);
  border-radius: 2%;
  margin-left: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#current-song-img-box {
  height: 80%;
  width: 43%;
  border-top-left-radius: 4%;
  border-bottom-left-radius: 4%;
  display: flex;
  justify-content: center;
  align-items: top;
  background-color: rgb(227, 236, 221);
}

#current-song-img {
  height: 87%;
  width: 90%;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  overflow: hidden;
}

#current-song-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#details-and-controls {
  height: 80%;
  width: 50%;
  padding: 3%;
  background-color: rgb(227, 236, 221);
  border-top-right-radius: 4%;
  border-bottom-right-radius: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#song-details {
  height: 50%;
  width: 100%;
  margin-right: 10%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9%;
}

#song-details h1 {
  font-weight: 500;
  font-size: 180%;
  color: black;
}

#song-details h4 {
  font-weight: 500;
  font-size: 130%;
  color: rgb(43, 42, 42);
}

#control-panel {
  height: 50%;
  width: 100%;
  margin-right: 10%;
  padding: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 2px solid black;
}

#control-panel i {
  font-size: 250%;
}

#right {
  width: 45%;
  height: 85%;
  background-color: rgba(55, 46, 54, 0.582);
  border-radius: 2%;
  margin-right: 2%;
  padding: 2%;
}

